input[type=radio] {
    display: none;
}

.answerButton {
    padding: 5px 10px;
    background-color: lightblue;
    margin: 5px 10px;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 250px;
}

input[type=radio]:checked + label.answerButton{
    background-color: yellow;
}

.quizButtons {
    width: 150px;
    height: 150px;
    position: absolute;
    border: 2px solid black;
    cursor: pointer;
}

.quizButtons:hover {
    opacity: 0.5;
}