#skjema {
	position: fixed;
  top: 10px;
  left: 15px;
}

#sendInfo {
	position: fixed;
  top: 420px;
  left: 10%;
}

label em {
  color: red;
}

#personInfo {
  position: fixed;
  top: 15px;
  left: 45%;
}

[data-title] {
  position: relative;
}

[data-title]:hover {
  cursor: pointer;
}

[data-title]:hover:after {
  opacity: 1;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  position: absolute;
  border: 5px solid black;
  left: 100%;
  bottom: 100%;
  width: 200px;
  z-index: 1;
  opacity: 0;
  padding: 5px;
  background-color: white;
  visibility: hidden;
}

#listOfPersons {
  position: fixed;
  top: 15px;
  left: 80%;
}

#clearStorage {
  position: fixed;
  top: 400px;
  left: 80%;
}