#skjema {
	position: fixed;
  top: 25px;
  left: 500px;
}

#sendInfo {
	position: fixed;
  top: 420px;
  left: 600px;
}

label em {
  color: red;
}

#personInfo {
  position: fixed;
  top: 450px;
  left: 575px;
}