#backgroundTheme {
    background-image: linear-gradient(to left, blue, #cce0ff, blue);
}

#currentTime {
    position: fixed;
    left: 50%;
}

#canvas {
    position: fixed;
    top: 15%;
    left: 36%;
    background-color: white;
}

#pstCanvas {
    position: fixed;
    top: 35%;
    left: 50px;
    background-color: white;
}

#castCanvas {
    position: fixed;
    top: 35%;
    right: 50px;
    background-color: white;
}