#solarCanvas {
    background: rgb(0,0,51);
    background: linear-gradient(90deg, rgba(0,0,51,1) 0%, rgba(0,0,26,1) 50%, rgba(0,0,0,1) 100%);
}

.planetInfo {
    background-color: navy;
    color: white;
    border-style: solid;
    border-color: white;
}