<div class="container-fluid mb-5">
  <form #orderForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label class="alignedLabel">Adhesive (Kg)</label>
      <input required type="number" class="form-control alignedInput" #adhesiveNum="ngModel" name="adhesiveValue"
        [ngModel]="order.adhesiveValue" pattern="[0-9]+" max="100" [class.is-invalid]="adhesiveNum.invalid && adhesiveNum.touched"
         (keyup)="checkDelivery(adhesiveNum.value, inkNum.value, fastDelivery.checked)">
      <small class="text-danger" [class.d-none]="adhesiveNum.valid || adhesiveNum.untouched">Input field is
        incorrect</small>
        <small class="text-danger" *ngIf="!correctAdhesiveValue">Units are too large</small>
    </div>

    <div class="form-group">
      <label class="alignedLabel">Ink (L)</label>
      <input required type="number" class="form-control alignedInput" #inkNum="ngModel" name="inkValue"
        [ngModel]="order.inkValue" pattern="[0-9]+" max="1000" [class.is-invalid]="inkNum.invalid && inkNum.touched" value="0"
        (keyup)="checkDelivery(adhesiveNum.value, inkNum.value, fastDelivery.checked)">
      <small class="text-danger" [class.d-none]="inkNum.valid || inkNum.untouched">Input field is incorrect</small>
      <small class="text-danger" *ngIf="!correctInkValue">Units are too large</small>
    </div>

    <div class="form-check">
      <label class="form-check-label alignedLabel">Express Delivery</label>
      <input type="checkbox" class="form-check-input alignedInput" #fastDelivery name="fastDelivery"
        [ngModel]="order.expressDelivery" style="width:25px;"
        (click)="checkDelivery(adhesiveNum.value, inkNum.value, fastDelivery.checked)">
    </div>

    <div class="form-group">
      <label class="alignedLabel">Delivery Date:</label>
      <input type="text" required readonly class="form-control alignedInput" #deliveryDate="ngModel"
        [class.is-invalid]="deliveryDate.invalid" name="deliveryDate" [ngModel]="order.deliveryDate"
        value={{deliveryDate}}>
        
    </div>

    <button type="submit" [disabled]="orderForm.form.invalid" class="btn btn-primary" style="font-size: 20px;">Submit
      order</button>

  </form>
</div>