#theme {
  background-image: linear-gradient(to right, blue, #cce0ff);
}

.keys {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border-color: black;
}

.keys:hover {
  background-color: lightgrey;
}

.operators {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border-color: black;
  color: blue;
}

.operators:hover {
  background-color: lightgrey;
}

#equals {
  background-color: black;
  color: white;
}

#equals:hover {
  opacity: 0.7;
}

#reset {
  background-color: red;
  color: white;
}

#reset:hover {
  opacity: 0.7;
}

#result {
  position: fixed;
  left: 44%; 
  top: 13%;
  font-size: 30px;
  border: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 150px;
  padding-right: 20px;
  background-color: black;
  border-radius: 5px;
  color: white;
}