.upgButtons {
    border-radius: 10px;
    background-color: darkgreen;
    color: white;
    box-shadow: 5px 5px 5px black;
}

.upgHeaders {
    font-family: Arial, Helvetica, sans-serif;
}

#screen {
    background-image: linear-gradient(to right, green, black, green);
}

#header {
    color: white;
}

#myCanvas {
    background-color: black;
}

.purchaseBtn {
    position: relative;
    display: inline-block;
}

.purchaseBtn .btnText{
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 3px;
    z-index: 1;
    position: absolute;
    padding: 5px 0;
    border: 2px solid black;
    left: 0%;
    bottom: 100%;
}

.purchaseBtn:hover .btnText {
    visibility: visible;
}